@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Light';
  src: local('IRANSansX-Light'),
  url('../font/IRANSansX-Light.woff') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Medium';
  src: local('IRANSansX-Medium'),
  url('../font/IRANSansX-Medium.woff') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Regular';
  src: local('IRANSansX-Regular'),
  url('../font/IRANSansX-Regular.woff') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'DemiBold';
  src: local('IRANSansX-DemiBold'),
  url('../font/IRANSansX-DemiBold.woff') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Bold';
  src: local('IRANSansX-Bold'),
  url('../font/IRANSansX-Bold.woff') format('truetype');
  font-display: swap;
}